<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top border-bottom border-dark border-2 pb-0" style="background-color:white">
  <div class="container">
    <a class="navbar-brand" href="\">Michael Schneider</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto nav-underline blog-nav">
        <li class="nav-item">
          <a class="nav-link" href="\#about-me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\#publications">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\#projects">Projects</a>
        </li>
      </ul>
      <ul class="list-group list-group-horizontal justify-content-center">
        <li class="list-group-item p-2 border-0"><a href="mailto:m.schneider.programmer@gmail.com"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Email" data-bs-offset="[0,12]" data-bs-custom-class="contact-tooltip"><img src="/assets/images/mail.svg"  alt="Email icon" width="30px"></a></li>
        <li class="list-group-item p-2 border-0"><a href="https://github.com/SchneiderCode" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Github" data-bs-offset="[0,12]" data-bs-custom-class="contact-tooltip"><img src="/assets/images/mark-github.svg"  alt="Github icon" width="30px"></a></li>
        <li class="list-group-item p-2 border-0"><a href="https://scholar.google.com/citations?user=Abni6OwAAAAJ&hl=en&authuser=1"  target="_blank" data-bs-toggle="tooltip" data-bs-offset="[0,12]" data-bs-placement="bottom" data-bs-title="Google Scholar" data-bs-custom-class="contact-tooltip"><img src="/assets/images/Google_Scholar_logo.svg"  alt="Google Scholar icon" width="30px"></a></li>
        <li class="list-group-item p-2 border-0"><a href="https://www.linkedin.com/in/michael-schneider-2156b5a8/"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="[0,12]" data-bs-title="LinkedIn" data-bs-custom-class="contact-tooltip"><img src="/assets/images/linked_in_logo.png"  alt="LinkedIn icon" width="30px"></a></li>
        <li class="list-group-item p-2 border-0"><a href="/assets/pdf/Michael Schneider_CV.pdf" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="[0,5]" data-bs-title="Resume" data-bs-custom-class="contact-tooltip" class="text-decoration-none"><div class="rounded-2 border border-1 text-center d-flex justify-content-center align-items-center" style="width:30px; height:30px"><samp class="fs-5 fw-b " style="line-height: 1.25em;width:30px">CV</samp></div></a></li>
      </ul>
    </div>
  </div>
</nav>
  
