{% assign year = "" %}
{% for pub in site.publications reversed %}
  {% assign currentDate = pub.date | date: "%Y" %}
  {% if year != currentDate %}
    {% if year != "" %}
      </div>
    {% endif %}
    {% assign year = currentDate %}
    <h3 class="mt-2 text-end">{{year}}</h3>
    <div class="accordion" id="accordionPublications_{{ year }}">
  {% endif %}
  <div class="accordion-item">
    <h4 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ pub.uid }}" aria-expanded="false" aria-controls="{{ pub.uid }}">
        <p>{{ pub.citation }} {{ pub.doi }} </p>
      </button>
    </h4>
    <div id="{{ pub.uid }}" class="accordion-collapse collapse" data-bs-parent="#accordionPublications_{{ year }}">
      <div class="accordion-body">
        <h5 class="text-center">{{ pub.title }}</h5>
        {{ pub.abstract }}
        <p class="text-center m-2">
          <a href="assets/pdf/{{ pub.pdf }}" target="_blank">Read PDF</a>
        </p>
        {% if pub.doi != nil and pub.doi != "" %}
          <p class="text-center m-2">
            <a href="https://doi.org/{{pub.doi}}" target="_blank">https://doi.org/{{pub.doi}}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>