<!doctype html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include navbar.html %}
    <div class="container" style="margin-top:100px" >
      {{ content }}
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js" ></script>
    <!-- Enable Tooltips -->
    <script> 
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
  </body>
</html>
